<div class="news-title text-center d-flex align-content-center justify-content-center">
  <p class="m-0 text-center pt-2">
    See all
    <span class="font-weight-bold">NEWS</span>
  </p>
  <button type="button" class="btn btn-link btn-news">
    <i class="fa fa-arrow-circle-down"></i>
  </button>
</div>
<div class="news-content">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <p class="m-0 mt-2 font-weight-bold">
          <span class="news-item">tin</span>
          KHUYẾN MÃI
        </p>
        <p class="mt-2 mb-0 news-noidung">Giảm giá vé trên tất cả các rạp vào ngày BLACK FRIDAY....</p>
      </div>
      <div class="col-4">
        <p class="m-0 mt-2 font-weight-bold">
          <span class="news-item">tin</span>
          QUÀ TẶNG
        </p>
        <p class="mt-2 mb-0 news-noidung">QUÀ TẶNG dành cho các cặp đôi vào ngày lễ NOEL....</p>
      </div>
      <div class="col-4">
        <p class="m-0 mt-2 font-weight-bold">
          <span class="news-item">tin</span>
          PHIM
        </p>
        <p class="mt-2 mb-0 news-noidung">Những bộ phim BOM TẤN sẽ xuất hiện vào tháng 7 này....</p>
      </div>
    </div>
  </div>
</div>
