.tintuc {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.title {
  transform: scale(1.5, 1.5);
}

.title p {
  color: white;
  text-shadow: 0 0 2px gold,
    0 0 4px gold,
    0 0 8px gold,
    0 0 16px gold;
}

