<nav class="sidebar" [ngClass]="{'sidebar-sm': clickSM}">
  <!-- Logo -->
  <div class="sidebar-header d-flex align-items-center justify-content-center">
    <a href="#" [routerLink]="['/']">
      <div class="logo">
      </div>
    </a>
  </div>
  <div class="userLogin">
    <div class="login d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#popupLogin"
      *ngIf="statusLogin; else user">
      <p class="text-center m-0">
        <span *ngIf="!clickSM;else login" class="animated fadeIn">ĐĂNG NHẬP</span>
        <ng-template #login>
          <i class="fa fa-sign-in animated fadeIn"></i>
        </ng-template>
      </p>
    </div>
    <ng-template #user>
      <div class="user-dn" (click)="ClickUser()">
        <p class="text-center icon-user m-0">
          <i class="fa fa-user-circle-o"></i>
          <br>
        </p>
      </div>
      <div class="user-dn-hover text-center">
        <p class="content-hover trangcanhan mt-3" [routerLink]="['/trangcanhan']">Trang Cá Nhân</p>
        <p class="content-hover" (click)="DangXuat()">Thoát</p>
      </div>
    </ng-template>
  </div>
  <!-- Content Bar -->
  <ul class="list-unstyled">
    <li class="d-flex align-items-center justify-content-center">
      <a href="#home" class="active" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon1" class="animated fadeIn">HOME</span>
        <ng-template #sidebarIcon1>
          <i class="fa fa-home animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="#phim" class="" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon2" class="animated fadeIn">PHIM</span>
        <ng-template #sidebarIcon2>
          <i class="fa fa-ticket animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="#" class="" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon4" class="animated fadeIn">TIN TỨC</span>
        <ng-template #sidebarIcon4>
          <i class="fa fa-info animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="#" class="" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon5" class="animated fadeIn">LIÊN HỆ</span>
        <ng-template #sidebarIcon5>
          <i class="fa fa-address-book-o animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <button type="button" class="btn btn-link" (click)="ThuNho()">
        <i class="fa fa-long-arrow-right xoayIconTS" [ngClass]="{'xoayIcon': clickSM}"></i>
      </button>
    </li>
  </ul>
</nav>
