<nav class="sidebar" [ngClass]="{'sidebar-sm': clickSM}">
  <!-- Logo -->
  <div class="sidebar-header d-flex align-items-center justify-content-center">
    <div class="logo">
    </div>
    <div class="logo-name ml-2 animated fadeIn" *ngIf="!clickSM">
      <p>NOT just</p>
      <p>CINEMA</p>
    </div>
  </div>
  <!-- Timer -->
  <div class="sidebar-clock text-center">
    <p>12:50</p>
  </div>
  <!-- Content Bar -->
  <ul class="list-unstyled">
    <li class="d-flex align-items-center justify-content-center">
      <a href="#" class="active" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon1" class="animated fadeIn">HOME</span>
        <ng-template #sidebarIcon1>
          <i class="fa fa-home animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="#" class="" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon2" class="animated fadeIn">ĐANG CHIẾU</span>
        <ng-template #sidebarIcon2>
          <i class="fa fa-ticket animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="#" class="" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon3" class="animated fadeIn">SẮP CHIẾU</span>
        <ng-template #sidebarIcon3>
          <i class="fa fa-film animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="#" class="" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon4" class="animated fadeIn">ABOUT</span>
        <ng-template #sidebarIcon4>
          <i class="fa fa-info animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <a href="#" class="" [ngClass]="{'fontIcon': clickSM}">
        <span *ngIf="!clickSM; else sidebarIcon5" class="animated fadeIn">CONTACT</span>
        <ng-template #sidebarIcon5>
          <i class="fa fa-address-book-o animated fadeIn"></i>
        </ng-template>
      </a>
    </li>
    <li class="d-flex align-items-center justify-content-center">
      <button type="button" class="btn btn-link" (click)="ThuNho()">
        <i class="fa fa-long-arrow-right xoayIconTS" [ngClass]="{'xoayIcon': clickSM}"></i>
      </button>
    </li>
  </ul>
  <!-- <div class="login">
    <button type="button" class="btn-login">
      <span class="pr-2" *ngIf="!clickSM; else sidebarLogin">Sign In</span>
      <ng-template #sidebarLogin>
        <span>
          <i class="fa fa-user-circle fontIcon"></i>
        </span>
      </ng-template>
    </button>
  </div> -->
</nav>
