<nav id="sidebar">
  <!-- Logo -->
  <div class="sidebar-header d-flex align-items-center">
    <div class="logo">
    </div>
    <div class="logo-name ml-2">
      <p>CYBER</p>
      <p>CINEMA</p>
    </div>
  </div>
  <!-- Timer -->
  <div class="sidebar-clock text-center">
    <p>12:50</p>
  </div>
  <!-- Content Bar -->
  <ul class="list-unstyled">
    <li>
      <a href="#" class="active">HOME</a>
    </li>
    <li>
      <a href="#">ĐANG CHIẾU</a>
    </li>
    <li>
      <a href="#">SẮP CHIẾU</a>
    </li>
    <li>
      <a href="#">ABOUT</a>
    </li>
    <li>
      <a href="#">CONTACT</a>
    </li>
    <li>
      <button type="button" class="btn btn-link">
        <i class="fa fa-long-arrow-right"></i>
      </button>
    </li>
  </ul>
  <div class="login">
    <button type="button" class="btn-login">
      <span class="txt-btn-login">Sign In</span>
      or
      <span class="txt-btn-login">Join</span>
      <span class="pl-4">
        <i class="fa fa-user-circle"></i>
      </span>
    </button>
  </div>
</nav>
