<div class="card-phim">
  <img src="./../../../assets/img/card-test.jpg" alt="">
  <div class="card-info">
    <div class="info-time pl-3 pt-5">
      <p>
        <i class="fa fa-clock-o"></i>
        5 : 00
      </p>
    </div>
    <div class="info-title pl-3">
      <p class="title">Deadpool 2</p>
    </div>
  </div>
  <div class="card-hover text-right pr-2">
    <div class="card-hover-content trailer">
      <span class="mr-4 animated fadeInLeft">Trailer</span>
      <i class="fa fa-play"></i>
    </div>
    <div class="card-hover-content chitiet">
      <span class="mr-4 animated fadeInLeft">Chi tiết</span>
      <i class="fa fa-outdent"></i>
    </div>
    <div class="card-hover-content datve">
      <span class="mr-4 animated fadeInLeft">Đặt vé</span>
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
</div>
