img {
  filter: brightness(50%);
}

#carouselExampleIndicators {
  box-shadow: 0px 0px 30px 3px black;
}

.carousel-control-next,
.carousel-control-prev {
  /* position: absolute; */
  width: 30px;
  height: 30px;
  bottom: 25%;
  top: auto;
  z-index: 400;
  border: 2px solid #FFCE00;
  border-radius: 20px;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  width: 100%;
}

.carousel-control-next {
  right: 2%;
}

.carousel-control-prev {
  right: 5%;
  left: auto;
}

.carousel-caption {
  width: 80%;
  height: 100%;
  bottom: auto;
  top: 10px;
  left: 20%;
  right: auto;
}

.info-film {
  width: 30%;
  position: absolute;
  top: 0;
}

.info-news {
  position: absolute;
  width: 300px;
  height: 100px;
  bottom: 10%;
  right: 0;
  background: #000000d4;
  color: #908199;
  animation-duration: 2s;
  box-shadow: 0 8px 6px -6px black;
}

.title-news {
  color: #FFCE00;
}

.carousel-title {
  font-size: 50px;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold, 0 0 40px gold, 0 0 80px gold, 0 0 90px gold, 0 0 100px gold, 0 0 150px gold
}

.carousel-link {
  color: #C9CDD1;
}

/* BTN */

.btn-datve {
  background-color: transparent;
  color: #fff;
  text-shadow: 0px 0px 10px gold;
}

.btn-datve:hover {
  background-color: #00000061;
}

.btn-datve:focus {
  border: none !important;
  box-shadow: none !important;
}

/* ANIMATED */

.delay {
  animation-delay: 1s;
}
