<nav class="navbar navbar-expand-lg bg-transparent fixed-top">
  <!-- <button type="button" class="btn btn-dangnhap" data-toggle="modal" data-target="#popupLogin">Đăng Nhập</button> -->
  <!-- Modal -->
  <div class="modal fade" id="popupLogin" tabindex="-1" role="dialog" aria-labelledby="popupLoginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div data-dismiss="modal" class="closeLogin">
            <i class="fa fa-times"></i>
          </div>
          <div class="sign-with">
            <p class="sign-with-sub animated flip" *ngIf="!status; else title">ĐÃ CÓ TÀI KHOẢN</p>
            <ng-template #title>
              <p class="sign-with-sub animated flip">CHƯA CÓ TÀI KHOẢN</p>
            </ng-template>
            <p class="sign-with-title font-weight-bold">
              <span class="animated fadeIn" *ngIf="!status;else man">Đăng Nhập Với</span>
              <ng-template #man>
                <span class="animated fadeIn">Đăng Ký Với</span>
              </ng-template>
            </p>
            <div class="sign-with-content d-flex justify-content-center align-items-center">
              <div class="facebook item">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="google item">
                <i class="fa fa-google"></i>
              </div>
            </div>
          </div>
          <div class="sign-with-tk mt-5">
            <p class="sign-with-title font-weight-bold">
              <span class="animated fadeIn" *ngIf="!status;else man4"> Đăng Nhập Với Tài Khoản</span>
              <ng-template #man4>
                <span class="animated fadeIn"> Đăng Ký Với Tài Khoản</span>
              </ng-template>
            </p>
            <div class="sign-with-content">
              <div>
                <input type="text" placeholder="TÀI KHOẢN">
                <input type="text" placeholder="MẬT KHẨU">
              </div>
              <div class="dangky" [ngClass]="{'dangky-show': status}">
                <input type="text" placeholder="EMAIL">
                <input type="text" placeholder="SỐ ĐIỆN THOẠI">
                <input type="text" placeholder="HỌ VÀ TÊN" class="hoten">
              </div>
              <div class="btn-dn ml-auto mr-auto">
                <span class="animated fadeIn" *ngIf="!status;else man3">ĐĂNG NHẬP</span>
                <ng-template #man3>
                  <span class="animated fadeIn">ĐĂNG KÝ</span>
                </ng-template>
              </div>
              <div class="quenmk mt-3">
                <p class="sign-with-sub animated fadeIn" *ngIf="!status">QUÊN MẬT KHẨU</p>
              </div>
              <p class="sign-with-title font-weight-bold mt-2 animated fadeInUp" *ngIf="!status;else man1">
                BẠN CHƯA CÓ TÀI KHOẢN ?
              </p>
              <ng-template #man1>
                <p class="sign-with-title font-weight-bold mt-2  animated fadeInUp">
                  BẠN ĐÃ CÓ TÀI KHOẢN RỒI !
                </p>
              </ng-template>
              <button type="button" class="btn btn-link animated fadeIn" (click)="Stwich()" *ngIf="!status;else man2">Đăng Ký</button>
              <ng-template #man2>
                <button type="button" class="btn btn-link animated fadeIn" (click)="Stwich()">Đăng Nhập</button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
