.btn-link{
    color: white;
}
.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}
.btn-select-rap{
    color: white;
    border: none;
    background-color: transparent;
}
.btn-select-rap:focus{
    border: none;
}
.custom-select{
    background-color: transparent;
    color: white;
    border: none;
}