.group-phim {
  position: relative;
  transition: all 1s;
}

.btn-next,
.btn-prev {
  margin-top: auto;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  top: -30px;
}

.btn-next:hover,
.btn-prev:hover,
.active {
  text-shadow: 0 0 2px gold, 0 0 4px gold, 0 0 8px gold;
  color: white;
}

.btn-next {
  right: 45%;
}

.btn-prev {
  left: 45%;
}
