.wrapper {
  position: relative;
}

.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.content {
  /* width: calc(100% - 230px); */
  width: 100%;
  right: 0;
  height: 2000px;
  background-color: #0b1011;
  z-index: 99;
}
