.wrapper {
  position: relative;
}

.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.carousel {
  background-color: #0c0c0c;
}

.navtop {
  z-index: 200;
}

.content {
  width: 100%;
  right: 0;
  height: 2000px;
  background-color: #0c0c0c;
  z-index: 99;
}
