/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: black;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 7px;
  background-color: #FFCE00;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
